html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body.light {
    background-color: #f5f5f5;
    color: #222;
    transition: background-color 0.5s, color 0.5s;
}

body.dark {
    background-color: #111;
    color: #f5f5f5;
    transition: background-color 0.5s, color 0.5s;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;     /* centers horizontally */
    justify-content: flex-start;
    text-align: center;
    padding: 2rem;
    margin: 0 auto;          /* keeps centered layout */
    box-sizing: border-box;
    width: 100%;
}

.logo {
    width: 200px;      /* resize */
    display: block;
    margin: 1em auto;  /* center horizontally */
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}


.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.light {
    background-color: #f5f5f5;
    color: #222;
    transition: background-color 0.5s, color 0.5s;
    min-height: 100vh;
}

.dark {
    background-color: #111;
    color: #f5f5f5;
    transition: background-color 0.5s, color 0.5s;
    min-height: 100vh;
}